:root {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.progress_section.lobby-view {
  transform: translateY(42vh);
}

#leaderboard {
  transform: translateY(0);
  position: fixed;
  transition: transform 1s ease-out;
}

#leaderboard.lobby-view {
  transform: scale(0.5) translateY(90vh);
}

#leaderboard_container {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-gap: 0.1rem;
  overflow: hidden;
}

.leaderboard_chunk {
  background-color: black;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
  padding: 0.3rem 0;
  padding-right: 0.5rem;
  right: -30rem;
}

.progress_section {
  right: -30rem;
  position: absolute;
  transition: transform 1s ease-out, right 0.5s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#progress,
#laps {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#progress p:first-of-type, #laps p:first-of-type {
  font-size: 0.75rem;
} 

#laps {
  clip-path: polygon(0 0, 95% 0%, 100% 100%, 5% 100%);
}

ul#leaderboard li {
  position: absolute;
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 0.8rem;
  width: 23rem;
  height: 3.5rem;
  white-space: nowrap;

  transition: background-color 0.25s ease-in-out, top 1s ease-out,
    font-size 1s cubic-bezier(0.19, 1, 0.22, 1),
    width 1s cubic-bezier(0.19, 1, 0.22, 1), right 0.5s ease-in-out;
}

ul#leaderboard li.first-place {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
  width: 26rem;
  height: 4rem;
}

#leaderboard_container li.first-place > span {
  font-size: 3.5rem;
  padding-left: 2rem;
}

ul#leaderboard li > span {
  border-right: 0.1rem solid white;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.current_racer {
  border-right: 0.2rem solid #01bd01;
  border-left: none;
}

/*Racer Detail */
.racer_detail {
  display: flex;
  flex-direction: column;
  grid-gap: 0.25rem;
}

.racer {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 0.1rem solid white;
}

.vehicle {
  font-size: 0.9rem;
}

/*Lap times */
.lap_times {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  grid-gap: 0.1rem;
}

.lap_times > * {
  font-size: 1rem;
}

.lap_times > .time-split {
  align-self: center;
  padding-top: 0.5rem;
}

.lap_times > .best::before {
  content: "Best: ";
}

.lap_times > .current::before {
  content: "Current: ";
}

.ui-message {
  position: absolute;
  text-align: center;
  bottom: -20rem;

  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 3rem;

  background-color: black;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);

  transition: bottom 0.5s ease-in-out;
}

.right-visible {
  right: 0rem;
}

.bottom-visible {
  bottom: 0rem;
}

/*#region Ghosting */

.ghosting_indicator {
  display: none;
  position: absolute;
  height: 100%;
  width: 0%;
  background: grey;
  z-index: -1;
}

/*#endregion*/

/*#region Respawn indicator */

.progress {
  position: absolute;
  height: 160px;
  width: 160px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -80px;
}

.progress-circle {
  transform: rotate(-90deg);
  margin-top: -40px;
}

.progress-circle-back {
  fill: none;
  /* stroke: #D2D2D2; */
  stroke-width: 10px;
}

.progress-circle-prog {
  fill: none;
  stroke: yellow;
  stroke-width: 10px;
  stroke-dashoffset: 0px;
  stroke-dasharray: 0 999;
  /* transition: stroke-dasharray 0.7s linear 0s; */
}
/*#endregion*/

/*#region Race lights */

#race-lights{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 25px;

  box-shadow: 5px 5px inset rgba(0,0,0,0.6);
  background: linear-gradient(315deg, rgb(0, 0, 0) 0%, rgb(50, 50, 50) 93%, rgb(0, 0, 0) 100%);
  border-radius: 100px;
  border: solid 5px #333;
  
  transition: top 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}

#race-lights.visible {
  top: 30%;
}

#race-lights ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
  grid-gap: 25px
}

#race-lights li {
  height: 100px;
  width: 100px;
  border-radius: 50%;

  opacity: 50%;
  transition: all 0.25s ease-in-out;
}

#race-lights li.on {
  opacity: 100%;
}

#race-lights li.red {
  background-color: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px;
  border: dotted 2px red;
  box-shadow: 
  0 0 20px #111 inset,
  0 0 10px red, 
  5px 5px inset rgba(0,0,0,0.6);
}

#race-lights li.green {
  background-color: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
  border: dotted 2px green;
  box-shadow: 
  0 0 20px #111 inset,
  0 0 10px green,
  5px 5px inset rgba(0,0,0,0.6);
}

/*#endregion */