:root {
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

#leaderboard_container {
    right: 0;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    grid-gap: .1rem;
    overflow: hidden;
}

.leaderboard_chunk {
    background-color: black;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
    padding: .3rem 0;
    padding-right: .5rem;
    right: 0;
}

#laps {
    height: 1.35rem;
    width: 6rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    position: absolute;
    top: 2rem;
}

ul#leaderboard li {
    position: absolute;
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    font-size: .75vw;
    width: 9rem;
    height: 2.5rem;
    white-space: nowrap;

    transition: 
    top 1s ease-out,
    font-size 1s cubic-bezier(.19,1,.22,1),
    width 1s cubic-bezier(.19,1,.22,1);
}

ul#leaderboard li.first-place{
    font-size: 1.25vw;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
    width: 13rem;
    height: 3.5rem;
}

#leaderboard_container li.first-place > span {
    font-size: 3.5rem;
    padding-left: 1rem;
}

ul#leaderboard li > span {
    font-size: 2rem;
    padding-left: 1rem;
}

