
/* Ready count */

#leaderboard .not-ready {
    background-color: #cc4300;
}

#leaderboard .ready {
    background-color: green;
}

.center-view {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    padding:1rem 2rem;
    background-color: black;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
    transition: top 0.5s ease-in-out;
}

.top-visible {
    top:0rem;
}

.top-hidden {
    top: -15rem;
}

#preRaceCountdown {
    font-size: 3rem;
}

body {
    background: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

.panel { 
    text-align: center;
    font-size: 25px;
    padding: 25px;
    color: rgb(191, 191, 191);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
}

.quarter-width {
    width: 25%;
}

.fifth-width {
    width: 20%;
}

.medium-width { 
    width: 500px;
    height: 44px;
}

#main_vehicle {
    width: 25%;
    height: 44px;
}

#edit_load {
    width: 15%;
}

#edit_overwrite {
    width: 15%;
}

#edit_delete {
    width: 15%;
}

#edit_blt {
    width: 15%;
}

#edit_list {
    width: 15%;
}

#edit_unsaved {
    width: 500px;
}

#edit_save {
    width: 15%;
}

#register {
    width: 15%;
}

select {
    height: 44px;
}

#tier {
    width: 60px;
    height: 44px;
}

#specialClass {
    width: 60px;
    height: 44px;
}

#laps {
    width: 10%;
}

#timeout {
    width: 10%;
}

#register_rest_vehicle {
    height: 44px;
}

#register_vclass {
    height: 44px;
}

#register_start_vehicle {
    height: 44px;
}

#delay {
    width: 10%;
}

#grp_unsaved {
    width: 500px;
}

#listPanel {
    text-align: center;
    font-size: 25px;
    padding: 25px;
    color: rgb(191, 191, 191);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
}

#add_veh {
    width: 15%;
}

#delete_veh {
    width: 15%;
}

#list_vclass {
    height: 44px;
}

#list_access0 {
    height: 44px;
}

#list_access1 {
    height: 44px;
}

#list_unsaved {
    width: 500px;
}

#scroll {
    max-height: 500px;
    overflow-y: auto;
}

#message {
    text-align: left;
    font-size: 25px;
    padding: 25px;
    color: rgb(191, 191, 191);
}

button {
    background-color: rgb(127, 127, 127);
    padding: 10px;
    margin: 5px;
    min-width: max-content;
}

input {
    margin-bottom: 5px;
    font-size: 15px;
    padding: 12px;
}
