/* #region toggle switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(173, 173, 173);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* #endregion

/* Ready count */

#leaderboard .not-ready {
    background-color: #cc4300;
}

#leaderboard .ready {
    background-color: green;
}

.center-view {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    padding: 1rem 2rem;
    background-color: black;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
    transition: top 0.5s ease-in-out;
}

.top-visible {
    top: 0rem;
}

.top-hidden {
    top: -15rem;
}

#preRaceCountdown {
    font-size: 3rem;
}

body {
    background: none !important;
}

.small {
    font-size: small;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

.panel {
    text-align: center;
    font-size: 25px;
    padding: 25px;
    color: rgb(191, 191, 191);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
}

.window {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
}

.v-center {
    top: 50%;
    transform: translate(0, -50%);
}

.h-center {
    left: 50%;
    transform: translate(-50%, 0);
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-text {
    font-size: x-small;
    color: grey;
}

#main_clear {
    width: 25%;
}

#main_load {
    width: 25%
}

#main_blt {
    width: 25%;
}

#main_list {
    width: 25%;
}

#leave {
    width: 20%;
}

#respawn {
    width: 20%;
}

#results {
    width: 20%;
}

#spawn {
    width: 25%;
}

#main_vehicle {
    width: 25%;
    height: 44px;
}

#main_vclass {
    height: 44px;
}

#speedo {
    width: 25%;
}

#change {
    width: 25%;
}

#unit {
    height: 44px;
}

#main_edit {
    width: 25%;
}

#main_register {
    width: 25%;
}

#main_vlist {
    width: 25%;
}

#edit {
    width: 25%;
}

#edit_clear {
    width: 25%;
}

#edit_reverse {
    width: 25%;
}

#edit_load {
    width: 15%;
}

#edit_overwrite {
    width: 15%;
}

#edit_delete {
    width: 15%;
}

#edit_blt {
    width: 15%;
}

#edit_list {
    width: 15%;
}

#edit_track_access1 {
    height: 44px;
}

#edit_unsaved {
    width: 500px;
}

#edit_save {
    width: 15%;
}

#edit_main {
    width: 25%;
}

#edit_register {
    width: 25%;
}

#edit_vlist {
    width: 25%;
}

#register_load {
    width: 25%;
}

#register_blt {
    width: 25%;
}

#register_list {
    width: 25%;
}

#register {
    width: 15%;
}

select {
    height: 44px;
}

#tier {
    width: 60px;
    height: 44px;
}

#specialClass {
    width: 60px;
    height: 44px;
}

.width-10 {
    width: 10%;
}

#rtype {
    height: 44px;
}

#register_rest_vehicle {
    height: 44px;
}

#register_vclass {
    height: 44px;
}

#register_start_vehicle {
    height: 44px;
}

#unregister {
    width: 25%;
}

#start {
    width: 25%;
}

#delay {
    width: 10%;
}

#register_main {
    width: 25%;
}

#register_edit {
    width: 25%;
}


#register_vlist {
    width: 25%;
}

/* #region Vehicle List */

#listPanel {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#listModal {
    background-color: rgba(0, 0, 0, 1);
}

.multi-select-transfer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    max-height: 50vh;
}

.multi-select-transfer>.multi-select-list {
    flex-basis: 40%;
    overflow: auto;
}

.multi-select-transfer>.transfer-options {
    flex-basis: 10%;
    align-self: center;
}

.transfer-options>button {
    width: -webkit-fill-available;
}

.multi-select-list .ui-selecting {
    background: #ccc;
}

.multi-select-list .ui-selected {
    background: #999;
}

#list_vclass {
    height: 44px;
}

#vlist_main {
    width: 25%;
}

#vlist_edit {
    width: 25%;
}

#vlist_register {
    width: 25%;
}

/* #endregion */

#scroll {
    max-height: 500px;
    overflow-y: auto;
}

#message {
    text-align: left;
    font-size: 25px;
    padding: 25px;
    color: rgb(191, 191, 191);
}

button {
    background-color: rgb(127, 127, 127);
    padding: 0.7rem;
    margin: 5px;
    min-width: max-content;
}

input {
    margin-bottom: 5px;
    font-size: 15px;
    padding: 12px;
}

/* #region Grid Line-up*/

#shuffle {
    background-color: black;
    color: white;
    border: solid 0.1rem white;
    border-radius: .25rem;
}

#grid-lineup {
    left: 2%;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    user-select: none;
}

#grid-lineup #shuffle {
    padding: 0;
}

.box {
    border: 0.15rem solid #ffffff;
    border-radius: .5em;
    padding: 0.25rem;
    cursor: move;
    background-color: black;
}

.box p {
    font-size: 0.75rem;
}

.box.over {
    border: 0.15rem dotted #ffffff;
}

/* #endregion Grid Line-up*/